<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%=author.name%></h1>
        <% if(author.blogs.length > 0){%>
            <p>Blogs by this Author</p>
            <ul>
                <% author.blogs.forEach(blog => {%>
                    <li>
                        <a href="/blogs/<%=blog._id%>"><%=blog.title%></a>
                    </li>
                <%})%>
            </ul>
        <%}%>
        <ul>
            <li>
                <a href="/authors">Go Back to all authors</a>
            </li>
            <li>
                <a href="/authors/<%=author._id%>/edit">Edit This author</a>
            </li>
            <li>
                <a href="javascript:{document.getElementById('delete').submit();}">Delete this author</a>
            </li>
        </ul>
        <form id="delete" action="/authors/<%=author._id%>?_method=DELETE" method="POST">
            <input type="hidden" />
        </form>
    </body>
</html>